.job-form {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.form-field {
  display: flex;
  flex-direction: row;
  min-width: fit-content;
  column-gap: 12px;
  justify-content: space-between;
}

.unsupported-field {
  font-style: italic;
}

.form-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 15px;
}

.form-buttons > button {
  border: 1px solid #6d7f8b;
  padding: 6px 12px;
  border-radius: 10px;
  background-color: #6d7f8b;
  color: white;
  min-width: 70px;
}

.form-buttons > button:hover {
  background-color: #f07548;
  border-color: #f07548;
}

