$font_color: white;
$argo_grey: #6d7f8b;
$argo_orange: #f07548;

.warning {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.poll-rate {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;

  &__inputs > select {
    margin-bottom: 1rem;
  }

  &__label,
  &__inputs {
    max-width: max-content;
  }
}

.job-widget {
  display: flex;
  flex-direction: column;

  &&__info {
    display: flex;
    align-items: center;

    &&__icon {
      margin-right: 10px;
      > img {
        width: 32px;
        height: 32px;
      }
    }

    &&__name {
      line-height: 15px;
      display: flex;
      flex-direction: column;
      > b {
        word-wrap: break-word;
      }
    }

    &&__link {
      margin-left: auto;
    }
  }

  &&__healthReport {
    margin: 1em 0;
    &&__healthIcon {
      width: 16px;
      height: 16px;
      margin-right: 8px;
    }
  }
}

.job-form {
  display: flex;
  flex-direction: column;
  row-gap: 0.625rem;
}

.form-field {
  display: flex;
  flex-direction: row;
  min-width: fit-content;
  column-gap: 12px;
  justify-content: space-between;
}
.unsupported-field {
  font-style: italic;
}

.form-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 15px;
  > button {
    border: 1px solid #6d7f8b;
    padding: 6px 12px;
    border-radius: 10px;
    background-color: $argo_grey;
    color: $font_color;
    min-width: 70px;
    &:hover {
      background-color: $argo_orange;
      border-color: $argo_orange;
    }
  }
}
